<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>Verduleria El Peli | Oferta sustentable </h1>
        <Select>
            <option value=""><a href="">Sedes</a></option>
            <option value=""><a href="">Ver</a></option>
            <option value=""><a href="">Gestion</a></option>
        </Select>

        <select name="" id="">
            <option value=""><a href=""></a></option>
            <option value=""><a href=""></a></option>
            <option value=""><a href=""></a></option>
        </select>

    </nav>


</body>
</html>